<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <nav>
        <div class="CentrerTexte" id="Acceuil"><a href="Accueil.html">
            <h2>Accueil</h2></a>
        </div>
        <a href="Accueil.html" class="CentrerTexte" id="Logo">Logo</a>
        <div class="CentrerTexte" id="About">
            <a href=""><h2>À propos</h2></a>
        </div>
    </nav>
    <main>
        <div class="upper">

            <div class="News">
                <h2>Nouveauté</h2>
                <hr>
                <div><h3>ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sapiente deleniti amet dignissimos? Dolorum ex voluptate, odio voluptatibus et, itaque eos adipisci id architecto tempora molestiae praesentium ullam quia quos.</h3></div>
                <hr>
                <div><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsum veritatis dolores, voluptate molestiae deserunt sequi, ducimus totam consequuntur dignissimos eaque dolorum est aperiam corporis? Temporibus voluptatibus non corporis laboriosam?</h3></div>
                <hr>
                <div><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae officiis ea laudantium reiciendis? Provident architecto nesciunt quas placeat, fuga ducimus necessitatibus odio animi doloribus quaerat optio maiores. Cum, quidem!</h3></div>
                
            </div>
            <div class="Boutons">
                
                <a href="Accueil.html" class="CentrerTexte" id="Create">
                    <h2>Créé</h2>
                </a>
                <a href="Sondage.html" class="CentrerTexte" id="Play">
                    <h2>Jouer</h2>
                </a>
                <a href="Classement.html" class="CentrerTexte" id="LeaderBoard">
                    <h2>LeaderBoard</h2>

                </a>
            </div>
            <div class="MostPlayed">
                <h2>Les plus joué</h2>
                <hr>
                <div><h3>ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sapiente deleniti amet dignissimos? Dolorum ex voluptate, odio voluptatibus et, itaque eos adipisci id architecto tempora molestiae praesentium ullam quia quos.</h3></div>
                <hr>
                <div><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsum veritatis dolores, voluptate molestiae deserunt sequi, ducimus totam consequuntur dignissimos eaque dolorum est aperiam corporis? Temporibus voluptatibus non corporis laboriosam?</h3></div>
                <hr>
                <div><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae officiis ea laudantium reiciendis? Provident architecto nesciunt quas placeat, fuga ducimus necessitatibus odio animi doloribus quaerat optio maiores. Cum, quidem!</h3></div>
            </div>
        </div> 

    </main>
    <footer>

        <div  id="Friends">
            <h2>Friends</h2>
        </div>

        <div class="CentrerTexte" id="Parametre">
            <h2>cog</h2>
        </div>
        
        <div id="ScoreCase">

            <div id="ScoreRank">
                <div class="CentrerTexte" id="Score">
                    <h2>Score</h2>
                </div>
                <div class="CentrerTexte" id="Rank">
                    <h2>Rank</h2>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>