<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classement</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <nav>
        <div class="CentrerTexte" id="Acceuil"><a href="Accueil.html">
            <h2>Accueil</h2></a>
        </div>
        <a href="Accueil.html" class="CentrerTexte" id="Logo">Logo</a>
        <div class="CentrerTexte" id="About">
            <a href=""><h2>À propos</h2></a>
        </div>
    </nav>
    <main>
        <div class="upper">
            <div class="tableau">
                <table>
                    <tr>
                        <td class="Pseudo">Pseudo</td>
                        <td class="Placement">Placement</td>
                        <td class="Points">Points</td>
                    </tr>
                    <tr>
                        <td class="Pseudo">Mewsis</td>
                        <td class="Placement">1er</td>
                        <td class="Points">150points</td>
                    </tr>

                    <tr>
                        <td class="Pseudo">Wallashing</td>
                        <td class="Placement">2ème</td>
                        <td class="Points">148points</td>
                    </tr>

                    <tr>
                        <td class="Pseudo">Kisagari</td>
                        <td class="Placement">3ème</td>
                        <td class="Points">110points</td>
                    </tr>
                </table>
            </div>
            <div class="tableau">
                <table>
                    <tr>
                        <td class="Pseudo">Pseudo</td>
                        <td class="Placement">Placement</td>
                        <td class="Points">Points</td>
                    </tr>
                    <tr>
                        <td class="Pseudo">Mewsis</td>
                        <td class="Placement">1er</td>
                        <td class="Points">150points</td>
                    </tr>

                    <tr>
                        <td class="Pseudo">Wallashing</td>
                        <td class="Placement">2ème</td>
                        <td class="Points">148points</td>

                    </tr>

                    <tr>
                        <td class="Pseudo">Kisagari</td>
                        <td class="Placement">3ème</td>
                        <td class="Points">110points</td>

                    </tr>
                </table>
            </div>
        </div> 

    </main>
    <footer>

        <div  id="Friends">
            <h2>Friends</h2>
        </div>

        <div class="CentrerTexte" id="Parametre">
            <h2>cog</h2> <!--parametre-->
        </div>
        
        <div id="ScoreCase">

            <div id="ScoreRank">
                <div class="CentrerTexte" id="Score">
                    <h2>Score</h2>
                </div>
                <div class="CentrerTexte" id="Rank">
                    <h2>Rank</h2>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>