<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sondage</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <nav>
        <div class="CentrerTexte" id="Acceuil"><a href="Accueil.html">
            <h2>Accueil</h2></a>
        </div>
        <a href="Accueil.html" class="CentrerTexte" id="Logo">Logo</a>
        <div class="CentrerTexte" id="About">
            <a href=""><h2>À propos</h2></a>
        </div>
    </nav>
    <main>
        <div class="upperSondage">

            <div class="CarteReponse" id="carteUn">
                <div id="TitreCarte"><h2>CarteReponse 2</h2></div>
                <div></div>
            </div>

            <div class="CarteReponse" id="CarteDeux">
                <div id="TitreCarte"><h2>CarteReponse 2</h2></div>
                <div></div>
            </div>

        </div>

        <div class="upperSondage">
            
            <div class="CarteReponse" id="carteUn">
                <div id="TitreCarte"><h2>CarteReponse 2</h2></div>
                <div></div>
            </div>

            <div class="CarteReponse" id="CarteDeux">
                <div id="TitreCarte"><h2>CarteReponse 2</h2></div>
                <div></div>
            </div>
            
        </div> 

    </main>
    <footer>

        <div  id="Friends">
            <h2>Friends</h2>
        </div>

        <div class="CentrerTexte" id="Parametre">
            <h2>cog</h2>
        </div>
        
        <div id="ScoreCase">

            <div id="ScoreRank">
                <div class="CentrerTexte" id="Score">
                    <h2>Score</h2>
                </div>
                <div class="CentrerTexte" id="Rank">
                    <h2>Rank</h2>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>